/* CSS copyright Motion Arcade Inc. */

html, body {
	margin: 0px 0px;
	padding: 0px 0px;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0px 0px;
	padding: 0px 0px;
}
body {
	background-color: #2f1c3a;	
	background-repeat: no-repeat;
	background-position: top;
}
@font-face {
	font-family: 'Rokkitt';
	font-style: normal;
	font-weight: 700;
	src: local('Rokkitt Bold'), local('Rokkitt-Bold'), url('http://themes.googleusercontent.com/static/fonts/rokkitt/v5/Mef17w3J4CtS0lw4Wa_8rxsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}
@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: normal;
	src: local('Droid Sans'), local('DroidSans'), url('http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}
#wrapper {
	margin: 0px 0px;
	padding: 0px 0px;
	position: relative;
	min-height: 100%;
	min-width: 100%;
}
.header {
	height: 100px;
	box-shadow: inset -2px 3px 20px rgba(0,0,0,0.8);
	margin: 0px 0px;
	padding: 0px 0px;
}
#roomNameInput {
	border-radius: 5px;
	text-align: center;
	margin-right : 30px;
}
.nameentry {
	font-size: 52px;
	width : 320px;
	height : 40;
	padding-right : 30px;
}
.logo {
	float: left;
	margin-left: 100px;
}
.name {
/* ? */
}
#enterName {
	font-family: Georgia;
	font-size: 12px;
	color: #fff;
	font-style: italic;
	padding-top: 20px;
	padding-right: 120px;
	float: right;
}
#mediaContainer {
	height:70%;
	padding-top: 10px;
	padding-left: 15%;
	padding-right: 10%;
	background-color: rgba(0,0,0,0.3);
	box-shadow: inset 0px 3px 3px rgba(255,255,255,0.1);
}
.musicPlayer {
	height: 75px;
	background-color: #03a6a6;
	border-radius: 8px;
	box-shadow: 0px 5px 0px #047272;
	position: absolute;
	margin-left: 38%;
	margin-top: 12px;
	padding-left: 5px;
	padding-right: 5px;
}
.musicPlayer img {
	margin: 0px auto;
	padding: 0px 0px;
}
#mediaSplash {
}
#mediaSplash h1 {
	font-family: 'Rokkitt';
	letter-spacing: -4px;
	font-size: 80px;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
#mediaSplash p {
	color: #333;
	font-family: Georgia;
	font-style: italic;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.7);
}
#avatar {
	height: 50px;
	width: 50px;
	background-color:#000;
	margin: 0px auto;
}
#medialibrary {
	width : 90%;
	height : 95%;
	margin: 0px auto;
	position: relative;
	float: left;
	padding-left: 1%;
	padding-top: 5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.2);
	box-shadow: inset 0px 3px 5px rgba(0,0,0,0.5), 0px 1px 1px rgba(255,255,255,0.2);
}
#medialibraryList {
	font-family: Arial;
	letter-spacing: 0px;
	color: #FFF;
	text-shadow: none;
}
.headerColor {
	color: #27AAE1;
}
.scrollerContainer {
	width: 100%;
	height : 100%;
	margin: auto;
	overflow:hidden;
	position:relative;
}
.scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}
.scroller li {
	padding: 0px 10px;
	height: 52px;
	line-height: 52px;
	font-size:32px;
	font-family: Arial;
	color : #ccc;
}
#currentRoomName {
	font-family: 'Istok Web';
	font-weight: 300;
	color: #fc7d49;
	text-shadow: 2px 2px 0px #812f43;
	margin-top: 20px;
	margin-right: 100px;
}
/*
.playing:before {
	content : " * ";
}
*/
tr.playing {
	background-color : rgba(0,0,0,0.3);
}
.scroller img {
	padding-top: 20px;
}
.scroller a {
	opacity: 0.4;
}
.scroller a:hover {
	opacity: 1;
}
.scrollerheader {
	width:100%;
	height:45px;
	padding:0;
	color:#eee;
	text-align:center;
	padding-top: 5px;
	font: 20px Abel;
	text-transform: uppercase;
}
.scrollerheader a {
	color: #f3f3f3;
	text-decoration: none;
	letter-spacing: -1px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
.scrollerheader a:hover {
	color: #f77825;
}
#userlist {
	width: 15%;
	height: 50%;
	float: left;
	margin-left: 25px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.2);
	box-shadow: inset 0px 2px 2px rgba(0,0,0,0.6), 0px 2px 2px rgba(255,255,255,0.5);
}
#userlistList {
	font-family: Arial;
	letter-spacing: -1px;
}
#nowPlaying {
	position: fixed;
	clear: both;
	width: 100%;
	height: 150px;
	bottom: 0;
	border: none;
	padding: 13px 0 0 0;
	background-color: #111;
	box-shadow: inset 0px 2px 2px rgba(0,0,0,0.4);
}
#musicHolder {
	width: 90%;
	height: 140px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.2);
	box-shadow: inset 0px 2px 2px rgba(0,0,0,0.5), 0px 2px 2px rgba(255,255,255,0.3);
	margin: 0px auto;
}
#mediaPlaylistTable {
	/* ? */
}
#songlist {
	color: #FFF;
	padding-right: 30px;
	font-family: 'Istok Web';
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	letter-spacing: 0px;
}
#tableHead {
	color: #000;
}
#songlist td {
	padding-left: 10px;
}
.tablerow {
	border-radius: 3px;
	font-size: 26px;
	color: #FFF;
	background-color: #db4648;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.3);
	text-align: center;
}
#trackid {
	margin-top: 5%;
	padding-top: 10px;
}
.songitems {
	position: relative;
	float: left;
	width: 150px;
	height: 130px;
	margin-right: 10px;
}
.songitems ul {
	list-style-type: none;
}
.songitems li {
	font-family: 'Droid Sans';
	color: #666;
}
#albumArt img {
	border-radius: 5px;
}
.toggleable {
	/* used to mark items that can be toggled from the server */
}