html, body {
	margin: 0px 0px;
	padding: 0px 0px;
}
h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0px 0px;
	padding: 0px 0px;
}
/*-------------------------------
WEB FONTS provided by GOOGLE
-------------------------------*/
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: normal;
  src: local('Abel'), local('Abel-Regular'), url('http://themes.googleusercontent.com/static/fonts/abel/v3/EAqh528fFdbUek8UOky4sA.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('http://themes.googleusercontent.com/static/fonts/ubuntu/v4/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu'), url('http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff') format('woff');
}
/*------------------------------
Body Styles
------------------------------*/
body {
}
.invisible {
	display: none;
}
.targetable {
	display: none;
}
.targetable:target {
	display: block;	
}
#wrapper {
	width: 640px;
	height: 960px;
	background-color: #2f1c3a; /* Old browsers */	
	background-repeat: no-repeat;
	background-position: top;;
}
.navBar {
	width: 100%;
	height: 75px;
	padding-top: 10px;
	background-repeat: no-repeat;
	-webkit-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.8);
}
.navBar .pp {
	display: none;
}
.navBar .pp:target {
	display: none;
}
.navBar a {
	-webkit-touch-callout: none;
}
.navBar ul {
	margin-left: 80px;
	display: inline;
}
.navBar li {
	margin: 0px 0px;
	padding: 0px 0px;
	margin-right: -4px;
	display: inline;
}
.navBar li a {
	-webkit-touch-callout: none;
}
.header {
	width: 100%;
	height: 75px;
	background-repeat: no-repeat;
	box-shadow: 0px 2px 5px rgba(255,255,255,0.3); 
	background-color: rgba(0,0,0,0.2);
}
.name {
	width: 240px;
	float: right;
	padding-top: 10px;
}
.name div {
  font-family: 'Istok Web';
  font-size: 46px;
  font-weight: bold;
  color: #db4648;
  text-shadow: 0px 1px #782728;
}
img {
	-webkit-touch-callout: none;
}
#thebutton {
}
#volumeSlider {
	margin-left: 550px;
	display: none;
	height : 300px;
	width: 30px;
	z-index: 999;
}
#roomslist p {
	width: 500px;
	margin: 0px auto;
	font-family: 'Georgia';
	font-style: italic;
	font-size: 26px;
	color: #FFF;
	margin-top: 15px;
	text-align: center;
}
#volumeLabel {
	width : 80px;
	height : 30px;
	background-image: url(mi/controller/volumeSlider.png);
	background-repeat: no-repeat;
	display : block;
	text-align : center;
	display : none;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 5px;
	font-weight: bold;
	z-index: 999;
}
.coollist {
	width: 500px;
	height: 500px;
	margin: 0px auto;
	margin-top: 20px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 10px;
	box-shadow: inset 0px 3px 5px rgba(0,0,0,0.5), 0px 2px 1px rgba(255,255,255,0.2);
	z-index: 1;
}
.coollist ul {
	padding-top: 30px;
	margin : 0px 20px;
	//padding-left: 75px;
}
.coollist li {
	font-family: 'Georgia';
	font-style: italic;
	color: #FFF;
	list-style-type: none;
	padding-top: 20px;
	font-size: 46px;
	border-bottom: 1px solid #ccc;
	margin : 0px auto;
	text-align:center;
	text-shadow: 2px 3px 0px rgba(0,0,0,1.0);
	//width: 300px;
}
.coollistHeader {
	font-family: 'Abel';
	font-size: 35px;
	font-weight: 300;
	letter-spacing: 2px;
	color: #FFF;
	text-shadow: 1px 2px 0px rgba(0,0,0,1.0);
	text-align:center;
	padding-top : 20px;
	margin-bottom: 20px;
	margin: 0px 0px;
	
}
#homescreen {
	width: 640px;
	height: 650px;
	margin: 0px auto;	
}
.nowplaying {
	width: 500px;
	height: 75px;
	background-color: red;
	margin-top: 10px;
	font-family: Arial;
	font-size: 20px;
}
.playlist {
	float: left;
	width: 300px;
	height: 300px;
	margin-top: 100px;
}
.playlist h1 {
	font-family: Arial;
	margin: 20px;
	height: 20px;
}
.playlist ul {
	list-style-type: none;
}
.playlist li {
	font-size: 35px;
	padding-top: 10px;
}
.homeScreenIcon {
	width: 640px;
	padding: 0px 0px;
	margin:0px auto;
	margin-top: 10px;
	font-size: 35px;
		
}
.cursor {
	width: 200px;
	height: 300px;
	margin-left: 50px;
	font-size: 35px;
	margin-top: 100px;
	float: left;
}
.homeScreenIcon p {
	font-family: Arial;
	font-size: 30px;
	color:#333;
	padding-left: 20px;
	text-align: center;
}
.qrcode {
 width: 200px;
 height: 300px;
 font-size: 35px;
 margin-top: 100px;
 float: left;
}
.qrcode p {
 font-family: Arial;
 font-size: 30px;
 color:#333;
 padding-left: 20px;
 text-align: center;
}
.homeScreenIcon a {
 text-decoration: none;
}
.qrcode {
	width: 200px;
	height: 300px;
	font-size: 35px;
	margin-top: 100px;
	float: left;
}
.qrcode p {
	font-family: Arial;
	font-size: 30px;
	color:#333;
	padding-left: 20px;
	text-align: center;
}
.qrcode a {
	text-decoration: none;
}
#motion {
	background-color: rgba( 0, 0, 0, 0.4);
	border-radius: 10px;
	width: 500px;
	height: 500px;
	margin: 0px auto;
	padding: 0px 0px;
	margin-top: 50px;
	
}
.motionController {
	width: 500px;
	height: 500px;
	margin: 0px auto;
	background-color: #FFF;
}
.controllerOptions {
}
.controllerOptions a {
	text-decoration: none;
}
.controllerOptions a:hover {
	text-decoration: none;
}
.controllerOptions .pointer {
	width: 175px;
	height: 75px;
	background-color: rgba( 0, 0, 0, 0.4);
	margin-left: 100px;
	float: left;
	text-align: center;
	color: #fff;
}
.controllerOptions .pointer h2 {
	color: #fff;
	margin-top: 20px;
}
.controllerOptions .touchpad {
	width: 175px;
	height: 75px;
	background-color: rgba( 0, 0, 0, 0.2);
	margin-left: 25px;
	float: left;
	text-align: center;
}
.controllerOptions .touchpad h2 {
	color: #fff;
	margin-top: 20px;
}
.recal {
	width: 211px;
	margin: 0px auto;
}
#sensitivitySlider {
	height: 500px;
	float: right;
	width: 30px;
	margin-right: 600px;
	margin-top: -570px;
}
#slidernub {
	width: 30px;
	height: 30px;
	background-color: blue;
	position:absolute;
	margin-right: 10px;
}
#touchpad {
	margin: 0px auto;
	margin-top: 50px;
	width: 500px;
	height: 500px;
	background-image: url(mi/trackpad.png);	
}
.closebutton {
	width: 100px;
	margin: 0px auto;
	padding-top: 20px;
}
#connecting {
	width: 200px;
	height: 80px;
	background-color: #000;
	margin: 0px auto;
	border-radius: 10px;
	color: #FFF;
	font-family: Arial;
	font-size: 30px;
	margin-top: 10px;
	padding-top: 30px;
	text-align: center;
}
/* CSS BUTTON STYLE */
.css_button {
	display: inline-block;
	height
	margin: 0px auto;
	padding-left: 20px;
	padding: 10px 25px 10px 20px;
	color: rgba(255,255,255,0.8);
	text-decoration: none;
	background: rgba(40,100,200,1);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: rgba(15,60,130,1) 0 3px 0, inset rgba(255,255,255,0.05) 0 -1px 0, inset rgba(255,255,255,0.1) 0 1px 0;
	-moz-box-shadow: rgba(15,60,130,1) 0 3px 0, inset rgba(255,255,255,0.05) 0 -1px 0, inset rgba(255,255,255,0.1) 0 1px 0;
	-webkit-box-shadow: rgba(15,60,130,1) 0 3px 0, inset rgba(255,255,255,0.05) 0 -1px 0, inset rgba(255,255,255,0.1) 0 1px 0;
	position: relative;
	top: 10px;
	font-size: 20px !important;
	overflow: hidden;
	border: none;
	cursor: pointer;
	outline: none;
}
.css_button:before {
	content: '';
	width: 50%;
	height: 100px;
	position: absolute;
	top: 100%;
	left: 25%;
	border-radius: 500px;
	background: none;
	box-shadow: rgba(255,255,255,0.5) 0 1px 20px;
	-moz-box-shadow: rgba(255,255,255,0.5) 0 1px 20px;
	-webkit-box-shadow: rgba(255,255,255,0.5) 0 1px 20px;
}
.css_button:hover {
	background: rgba(45,115,230,1);
	box-shadow: rgba(15,60,130,0.8) 0 3px 0, inset rgba(255,255,255,0.05) 0 -1px 0 rgba(255,255,255,0.1) 0 1px 0;
	-moz-box-shadow: rgba(15,60,130,0.8) 0 3px 0, inset rgba(255,255,255,0.05) 0 -1px 0 rgba(255,255,255,0.1) 0 1px 0;
	-webkit-box-shadow: rgba(15,60,130,0.8) 0 3px 0, inset rgba(255,255,255,0.05) 0 -1px 0 rgba(255,255,255,0.1) 0 1px 0;
}
.css_button:active {
	background: rgba(40,100,200,0.8);
	box-shadow: inset rgba(255,255,255,0.05) 0 -1px 0, inset (255,255,255,0.1) 0 1px 0;
	-moz-box-shadow: inset rgba(255,255,255,0.05) 0 -1px 0, inset (255,255,255,0.1) 0 1px 0;
	-webkit-box-shadow: inset rgba(255,255,255,0.05) 0 -1px 0, inset (255,255,255,0.1) 0 1px 0;
}
#iconContainer {
	width: 640px;
	height: 600px;
	padding-top: 20px;
}
#homeScreenIcon ul {
	display: inline;
	list-style-type: none;
}
#homeScreenIcon li {
	display: inline;
}
.styletypenone {
	list-style-type: none;
	display: inline;
}
.homeScreenIcon a {
	-webkit-touch-callout: none;
}
#playerControls {
	float:;
	padding-top: 40px;
	width: 300px;
	margin: 0px auto;
}
#playerControls ul {
	list-style-type: none;
	display: inline;
}

#playerControls li {
	float:left;
}
#currentUserName {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#navBar {
	display : none;
}
/*----------------------------------
Nintendo Gamepad Mobile Controller
-----------------------------------*/

#gamepad {
	width: 640px;
	height: 960px;
	//background-image: url('i/bg.png');
	//background-repeat: no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
#gamepad div {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

#strtslct {
	width: 265px;
	height: 98px;
	background-image: url('i/star-sel.png');
	background-repeat: no-repeat;
	margin: 0px auto;
}
#dpad {
	width: 290px;
	height: 281px;
	background-image: url('i/dpad.png');
	background-repeat: no-repeat;
}
#ab {
	width: 279px;
	height: 172px;
	float: right;
	margin-top: -200px;
	margin-right: 25px;
}
#b {
	width: 138px;
	height: 172px;
	background-image: url('i/button_b.png');
	background-repeat: no-repeat;
	float: left;
}
#a {
	width: 141px;
	height: 172px;
	background-image: url('i/button_a.png');
	background-repeat: no-repeat;
	float: left;
}
#select {
	width: 130px;
	height: 16px;
	margin-top: 38px;
	padding-bottom: 100px;
	background-image: url('i/button_slct.png');
	background-repeat: no-repeat;
	float: left;
}
#start {
	width: 132px;
	height: 16px;
	margin-top: 38px;
	padding-bottom: 100px;
	background-image: url('i/button_strt.png');
	background-repeat: no-repeat;
	float: left;
}
#slideController {
	margin: 0px 0px;
	padding: 50px 0px;
}
#slideControls {
	margin: 0px 0px;
	padding: 0px 0px;
	display: inline;
}
#slideControlss ul {
	list-style-type: none;
	display: none;
}
#slideControls li {
	display: inline;
	margin-right: -3px;
}
.inlineslideDiv {
	padding-top: 50px;
	display: inline;
}
#boxes .window {
  position: absolute;
  left:0;
  top:0;
  width:500px;
  height:500px;
  display:none;
  z-index:9999;
  padding:20px;
}
#boxes #dialog {
  left: 0;
  top: 0;
  width:500px; 
  height:500px;
  padding:10px;
  background-color:#ffffff;
  margin: 0px auto;
  border-radius: 10px;
  text-align: center;
}
#mask {
  position:absolute;
  left:0;
  top:0;
  width: 100%;
  z-index:9000;
  background-color:#000;
  display:none;
}
#dialog a {
	font-size: 28px;
	color: #333;
	text-decoration: bold;
	padding-right: 10px;
	padding-bottom: 100px;
}
#dialog a:hover {
}
#modalRecalibrate {
	color: #FFF;
	text-shadow: 0px 1px 2px #333;
	font-size: 32px;
	font-family: Arial;
	font-weight: bold;
	width: 250px;
	height: 85px;
	margin: 0px auto;
	margin-top: 200px;
	border-radius: 5px;
	-webkit-box-shadow: 0x 2px 2px #333;
	background: #e9ea9d; /* Old browsers */
	background: -moz-linear-gradient(top,  #e9ea9d 0%, #ffcc00 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9ea9d), color-stop(99%,#ffcc00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e9ea9d 0%,#ffcc00 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e9ea9d 0%,#ffcc00 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e9ea9d 0%,#ffcc00 99%); /* IE10+ */
	background: linear-gradient(top,  #e9ea9d 0%,#ffcc00 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9ea9d', endColorstr='#ffcc00',GradientType=0 ); /* IE6-9 */
}
.playerTable {
	border: 0;
	margin-top: 30px;
	font-family: Arial;
	font-size: 55px;
	color: #FFF;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	box-shadow: inset 0px 2px 1px rgba(0,0,0,0.5), 0px 2px 1px rgba(255,255,255,0.2);
}
.playerTable th {
	padding: 15px;
	font-family: Verdana, Geneva, sans-serif;
	border-left: 1px solid rgba(255,255,255,0.3);
}
.playerTable td {
	padding: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	border-left: 1px solid rgba(255,255,255,0.3);
}
#youtubeContainer {
	width: 550px;
	height: 100px;
	margin: 0px auto;
	margin-top: 50px;
	background-color: #a5c77f;
	border-radius: 5px;
	box-shadow: 0px 8px 0px #42826c;
}
#youtubesearch {
	width: 325px;
	height: 50px;
	margin-top: 25px;
	margin-left: 25px;
	font-size: 28px;
	font-family: 'Abel';
	font-weight: 300;
	letter-spacing: 3px;
	box-shadow: inset 0px 5px 0px rgba(0,0,0,0.8);
	border: 0;
}
#youtubesearchbutton {
	width: 100px;
	height: 50px;
	background-color: #42826c;
	margin-top: 25px;
	margin-right: 50px;
	font-family: 'Abel';
	float: right;
	border-radius: 5px;
	box-shadow: 0px 5px 0px #2f5c4c;
}
#youtubesearchbutton p {
	color: #FFF;
	font-family: ;
	text-align: center;
	margin-top: 15px;
}