/*---------------------------------------------------------
colors
---------------------------------------------------------*/
/*---------------------------------------------------------
sizes
---------------------------------------------------------*/
/*---------------------------------------------------------
fonts
---------------------------------------------------------*/
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: normal;
  src: local('Rokkitt'), url('http://themes.googleusercontent.com/static/fonts/rokkitt/v4/RcB7dRNAX_8JE8zinU47YALUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 700;
  src: local('Rokkitt Bold'), local('Rokkitt-Bold'), url('http://themes.googleusercontent.com/static/fonts/rokkitt/v4/Mef17w3J4CtS0lw4Wa_8r73hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}
/*---------------------------------------------------------
utility functions
---------------------------------------------------------*/
.cobaltradialgradient {
  background-color: #161a23;
  background-image: url(http://zigfu.com/i/bg.png);
  background-repeat: repeat-x;
  postion: top;
  /* Old browsers */

 background-position: center 100px;
  background: -moz-radial-gradient(center 100px, ellipse cover, #3d5362 25%, #151b23 65%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center 100px, 0px, center center, 65%, color-stop(0%, #3d5362), color-stop(65%, #151b23));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center 100px, ellipse cover, #3d5362 25%, #151b23 65%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center 100px, ellipse cover, #3d5362 25%, #151b23 65%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center 100px, ellipse cover, #3d5362 25%, #151b23 65%);
  /* IE10+ */

  background: radial-gradient(center 100px, ellipse cover, #3d5362 25%, #151b23 65%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@cobaltlight', endColorstr='@cobaltdark', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}
.fillwidth {
  width: 100%;
}
.fillheight {
  height: 100%;
}
.fill {
  width: 100%;
  height: 100%;
}
.nospacing {
  margin: 0px 0px;
  padding: 0px 0px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
/*---------------------------------------------------------
styles
---------------------------------------------------------*/
html2, body2 {
  margin: 0px 0px;
  padding: 0px 0px;
  background: #3d5362;
  /* Old browsers */

  background-position: center 100px;
  background: -moz-radial-gradient(center 100px, ellipse cover, #3d5362 25%, #151b23 65%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center 100px, 0px, center center, 65%, color-stop(0%, #3d5362), color-stop(65%, #151b23));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center 100px, ellipse cover, #3d5362 25%, #151b23 65%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center 100px, ellipse cover, #3d5362 25%, #151b23 65%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center 100px, ellipse cover, #3d5362 25%, #151b23 65%);
  /* IE10+ */

  background: radial-gradient(center 100px, ellipse cover, #3d5362 25%, #151b23 65%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@cobaltlight', endColorstr='@cobaltdark', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}
html, body {
	margin: 0px 0px;
	padding: 0px 0px;
  position:relative;
  overflow:hidden;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0px 0px;
	padding: 0px 0px;
}
body {
  width:100%;
  height : 100%;
	background-color: #161a23; /* Old browsers */
	background-image:url(http://zigfu.com/i/bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
} 

#wrapper {
  width: 100px;
  position:relative;
  margin : 0px auto;
}
.row {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.left {
  float: left;
  width: 460px;
}
.right {
  float: right;
  width: 460px;
  padding-top: 35px;
}
.right h1 {
  font-family: 'Rokkitt';
  font-size: 31pt;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px #ffffff;
}
#header {
  width: 100%;
  height: 100px;
  font-family: 'Droid Sans';
  border-width: 0 0 12 0;
  margin: 0;
  padding: 0;
  box-shadow: 0px -5px 5px -2px rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: 0px -5px 5px -2px rgba(255, 255, 255, 0.1) inset;
  -webkit-box-shadow: 0px -5px 5px -2px rgba(255, 255, 255, 0.1) inset;
}
#gallery {
  width: 100%;
  //height : 500px;
  height : 100%;
  position:relative;
  background-color: #16181a;
}
#gallery .butholder {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 10px;
}
#gallery .butholder ul {
  margin-left: auto;
  margin-right: auto;
}
#gallery .butholder ul li {
  margin-left: auto;
  margin-right: auto;
  display: inline;
  padding-right: 12px;
}
#content {
  width: 100%;
  height: 300px;
  box-shadow: 0px 5px 5px -2px rgba(255, 255, 255, 0.1) inset, 0px -10px 10px -2px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 5px 5px -2px rgba(255, 255, 255, 0.1) inset, 0px -10px 10px -2px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0px 5px 5px -2px rgba(255, 255, 255, 0.1) inset, 0px -10px 10px -2px rgba(0, 0, 0, 0.2) inset;
}
#footer {
  width: 100%;
  height: 300px;
  background-color: #0b0b0b;
}
#footer p {
	text-align: center;
	color: #fff;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;	
	padding-top: 20px;
}

#title {
  text-align:center;
  font-family: 'Rokkitt';
  font-size: 34pt;
  font-weight: bold;
  color: white;
  position:relative;
  padding:20px 20px;
}

#mainarea {
  height: 70%;
  width: 50%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  
  -moz-box-shadow: 0px 10px 40px 15px #112735;
  -webkit-box-shadow: 0px 10px 40px 15px #112735;
  box-shadow: 0px 10px 40px 15px #112735;

  background: #dce8f0;
}

#videolistScroller {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  padding:0px;
  margin:0px;
}

#videolistScroller ul {
  margin: 0px 0px;
  padding: 0px 0px;
  overflow:none;
}

#videolistScroller li {
  font-size: 30pt;
  padding:0px;
  margin:0px;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style-type:none;
  border-bottom : 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#mask {
  padding: 0px 0px;
  margin: 0px 0px;
  background: rgba(0, 0, 0, 0.8);
  width:inherit;
  height:inherit;
  top:0;
  left:0;
  display:block;
  position:absolute;
  display:none;
}

.modaldialog {
  width : 40%;
  height : 300px;
  top : 20%;
  left: 30%;  
  position: absolute;
  background : white;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  margin : auto auto;
  display:none;
}

.modaldialog div {
  margin : auto auto;
  text-align:center;
  font-size: 50pt;
  margin-top : 30px;
}

.modaldialogcontents {
}

#backbutton {
  display:block;
  width: 100px;
  height : 100px;
  top: 50%;
  margin-top: -50px;
  margin-left: -120px;
  background: green;
  position:absolute;
}